.newsletter {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  /* Seção Salmão */
  .newsletter-email {
    background-color: #ffe9dc; /* Cor salmão */
    padding: 10px 20px; /* Ajuste da altura */
    text-align: center;
    border-radius: 8px;
    display: flex; /* Organiza os elementos em linha */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos */
  }
  
  .newsletter-email h2 {
    font-size: 0.8rem; /* Reduz o tamanho do texto */
    color: #333;
    margin: 0; /* Remove a margem inferior */
  }
  
  .newsletter-email p {
    font-size: 0.8rem;
    color: #B11B26;
    margin: 0; /* Remove a margem inferior */
  }
  
  .newsletter-input {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    gap: 10px; /* Espaçamento entre input e botão */
  }
  
  .newsletter-input input {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #8A8A8A;
  }
  
  .newsletter-input button {
    padding: 8px;
    width: 250px;
    background-color: #B11B26;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .newsletter-input button:hover {
    background-color: #555;
  }
  
  /* Seção Vermelha */
  .newsletter-footer {
    background-color: #b11b26; /* Cor vermelha */
    padding : 60px 20px; /* Altura aumentada */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    flex-wrap: wrap; /* Permite quebra para telas pequenas */
    gap:80px;
    
  }
  
  .footer-logo img {
    max-width: 400px;
    height: 90px;
    margin-left: 0;
  }
  
  .footer-social {
    text-align: center;
  }
  
  .footer-social p {
    font-size: 1.2rem; /* Ajuste o tamanho da fonte */
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px; /* Aumenta o espaçamento entre os ícones */
    justify-content: center;
  }
  
  .social-icons i {
    font-size: 1.8rem; /* Tamanho maior para ícones */
    cursor: pointer;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 10;
  }
  

  .footer-links {
    margin: 5px 0;
    margin-right: 10px;
    padding-right: 10px;
  }
  

  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .newsletter-footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-links {
      margin-top: 20px;
    }
  
    .newsletter-email {
      flex-direction: column; /* Coloca os elementos em coluna para telas pequenas */
      gap: 5px;
    }
  }
  