/* Estilos gerais da newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%; 
  box-sizing: border-box; 
  padding: 0 15px; 
}

/* Seção Salmão */
.newsletter-email {
  background-color: #ffe9dc;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10px;
  width: 100%; 
  box-sizing: border-box;
}

.newsletter-email h2,
.newsletter-email p {
  font-size: 0.9rem;
  color: #333;
  margin: 0;
}

.newsletter-input {
  display: flex;
  flex-direction: column; 
  align-items: stretch; 
  gap: 10px;
  width: 100%;
}

.newsletter-input input,
.newsletter-input button {
  padding: 8px;
  width: 100%; 
  max-width: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.newsletter-input button {
  background-color: #b11b26;
  color: #fff;
  border: none;
  cursor: pointer;
}

.newsletter-input button:hover {
  background-color: #555;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Seção Vermelha */
.newsletter-footer {
  background-color: #b11b26;
  padding: 60px 15px;
  display: flex;
  flex-direction: column; 
  text-align: center;
  color: #fff;
  gap: 20px;
}

.footer-logo img {
  max-width: 100%; 
  height: auto; 
  margin: 0 ;
}

.footer-social p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icons i {
  font-size: 1.8rem;
  cursor: pointer;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .newsletter-email {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter-input {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links {
    margin-top: 20px;
  }
}
