
.homepage {
  padding: 10px;
  background-color: #fff8f4; 
}

.categorias p {
  font-size: 1.2rem; 
  color: #333;
  margin-bottom: 20px;
}

.categorias-grid {
  margin-top: 10px;
  display: flex;
  overflow-x: auto; 
  gap: 20px; 
  padding: 0 10px;
}

.categorias-grid::-webkit-scrollbar {
  display: none; 
}

.categoria-item {
  flex: 0 0 70%;
  max-width: 200px; 
  text-align: center;
}

.categoria-item img {
  width: 100%;
  height: auto;
  border-radius: 12px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease; 
}

.categoria-item img:hover {
  transform: scale(1.05); 
}

.categoria-item a {
  margin-top: 10px;
  display: inline-block;
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
  text-align: center;
}

.categoria-item a:hover {
  color: #000; 
}


/* Hero Section */
.home-container {
  display: flex;
  flex-direction: column; 
  gap: 0; 
}

.home-image img,
.model-image img {
  width: 100%; 
  height: auto; 
  max-width: none; 
  margin: 0; 
}


@media (min-width: 768px) {
  .home-image img,
  .model-image img {
    max-width: 600px; 
    margin: 0 auto; 
  }
}


@media (max-width: 768px) {
  .categorias-grid, .lancamentos-grid {
      grid-template-columns: repeat(2, 1fr);
  }

  .hero {
      flex-direction: column;
  }
}
.nome-cat{
  color: #000000; 
  text-decoration: none;
  text-align: left;
  font-size: 0.8rem;
  
}