

/* Navbar */
.navbar {
  position: fixed;
  top: 30px; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 375px;
  height: 60px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: white;
  z-index: 500; 
}
.nav-logo img{
  align-items: center;
  
}

.content {
  margin-top: 60px; 
}

body {
  display: flex;
  justify-content: center; 
}

.submenu-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 20px; 
}



/* Menu lateral */
.side-menu {
  position: fixed;
  top: 0;
  left: 15px; 
  width: 300px; 
  height: 100vh; 

  background-color: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2); 
  z-index: 600; 
  display: flex;
  flex-direction: column;
  transform: translateX(-300%); 
  overflow: hidden; 
}
/* Quando o menu lateral está aberto */
.side-menu.open {
  transform: translateX(0); /* Mostra o menu lateral */
}

/* Navbar com ícones no lado direito */
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 20px; 
}
.close-menu {
  align-self: flex-end;
  margin: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
/* Imagem no menu lateral */
.menu-image {
  width: 100%; 
  height: auto;
}
/* Logo preta no topo */
.menu-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px; 
  z-index: 5; 
}
/* Lista de itens no menu */
.menu-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0; 
  text-align: left;
}

.menu-list li {
  color: #333;
  margin: 15px 20px;
  cursor: pointer;
}
/* Botão do menu hambúrguer */
.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
}
.hamburger-menu img {
  width: 20px; 
  height: 20px;
  margin-left: 20px;
}

.nav-cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px; 
  right: -10px; 
  background-color: #ff0000; 
  color: #fff; 
  font-size: 12px; 
  font-weight: bold; 
  border-radius: 50%; 
  padding: 4px 6px; 
  min-width: 20px; 
  text-align: center; 
  display: none; 
}

.cart-count.show {
  display: block; 
}
/* Submenu de Produtos */
.submenu {
  position: fixed;
  top: 0;
  left: 300px; 
  width: 300px; 
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); 
  transition: transform 0.3s ease;
  z-index: 250;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Quando o submenu está aberto */
.submenu.open {
  transform: translateX(0);
}

/* Botão de voltar no submenu */
.close-submenu {
  background: none;
  border: none;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: left;
}

/* Lista do submenu */
.submenu-list {
  list-style: none;
  padding: 0;
}

.submenu-list li {
  font-size: 1rem;
  color: #333;
  margin: 10px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.submenu-list li:hover {
  color: #ff0000; 
}

