.cep-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  
  .cep-modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    position: relative; 
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .cep-modal h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .cep-modal label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  .cep-modal input,
  .cep-modal select {
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  .save-button {
    width: 100%;
    padding: 10px;
    background-color: #b11b26;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #a01020;
  }
  