
.lancamentos {
  display: flex;
  flex-direction: column;
  padding: 20px; 
}

.lancamentos p {
  font-size: 1.8rem; 
  color: #333;
  margin-bottom: 15px;
}


.lancamentos-peças {
  display: flex;
  overflow-x: auto; 
  gap: 30px; 
  padding: 10px 0; 
  scroll-snap-type: x mandatory; 
}

.lancamentos-peças::-webkit-scrollbar {
  display: none; 
}

/* Cada peça */
.lancamentos-peças .peças {
  flex: 0 0 auto;
  width: 250px;
  text-align: center; 
  scroll-snap-align: center; 
}

.lancamentos-peças img {
  width: 100%;
  height: auto;
}

/* Nome e preços */
.lancamentos-peças .peças p {
  font-size: 1.1rem; 
  color: #1D1D1D;
  margin-top: 10px;
}

.lancamentos-peças .peças-preços-novos {
  font-size: 1.2rem; 
  color: #b11b26; 
  font-weight: bold;
}

.lancamentos-peças .peças-preços-velhos {
  font-size: 0.9rem; 
  color: #888;
  text-decoration: line-through;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .lancamentos {
    padding: 10px; 
  }

  .lancamentos-peças .peças {
    width: 200px; 
}
}
